


#prat1 {
	
}


#Rubrik {
	position: fixed;
	width: 98%;
	padding: 0px;
	font-family:Georgia;
	text-align:center;
	background-color:yellow;
	z-index: 1000;
	margin: auto;
}

#question {
	z-index: 900;

}

#tom{
	width: 20%;
	position: fixed;
	right: 5px;
	bottom: 0px;
}

#gubbe1 {
	width: 25%;
	position: fixed;
	left: 5px;
	bottom: 0px;
}

#answer {
	z-index: 800;
	background-color: white;
} /* change background color of answer to white*/
