body{
	background-size: cover;
}


#prat1 {
	margin-top: 30%;
	margin-left: 45%;
	display: inline;
	position: absolute;
	z-index: -1;
}

#prat2 {

	margin-top: 34%;
	margin-left: 25%;
	position:absolute;
}

#question {
	margin-left: 53%;
	margin-top: 44%;
	z-index: 900;
	display: inline;
}

#Rubrik {
	position: fixed;
	width: 98%;
	padding: 0px;
	font-family:Georgia;
	text-align:center;
	background-color:yellow;
	z-index: 1000;
	margin: auto;
}


#tom{
	width: 20%;
	position: fixed;
	right: 5px;
	bottom: 0px;
}

#gubbe1 {
	width: 25%;
	position: fixed;
	left: 5px;
	bottom: 0px;
}



#answer {
	margin-top: 47%;
	margin-left: 28%;
	position: absolute;
	z-index: 800;
	background-color: white;
	display: inline;
} /* change background color of answer to white*/
